---
import Base from "../layouts/Base.astro";
import { SITE } from "../lib/site.js";
---

<Base title="お問い合わせ" description={`${SITE.name}へのお問い合わせ方法のご案内。`}>
  <article>
    <h1>お問い合わせ</h1>
    <p>
      当サイトへのご意見・誤りのご指摘・ツールのご要望は、下記のメールアドレスまでお寄せください。個別の法律相談・税務相談などにはお答えできませんのでご了承ください。
    </p>
    <div class="note-box">
      <p><a href="mailto:pon240325@gmail.com">pon240325@gmail.com</a></p>
    </div>
    <p class="small">
      いただいた内容はサイト改善の目的にのみ使用します。すべてのお問い合わせへの返信をお約束するものではありません。
    </p>
  </article>
</Base>
